*.iml
*.bak
.idea/
dictionaries/
logs
out/
build/
bin/build_dependecy.sh
config/application.yml
.DS_Store/
target/
*.log
.classpath
.settings
vc-search-service/src/main/resources/provider.xml
.metadata/
.project
RemoteSystemsTempFiles/
*.scc
.DS_Store
README.md
launch_web.sh
dump.rdb
/upload

src/main/webapp/js/app/patch/px500-*.js
/js
imain.jsp
MainAction.java
